@import "~bootstrap/scss/bootstrap";
@import "./assets/css/variables";
* {
  color: $whiteColor;
}

body {
  overflow: hidden;
}

a {
  color: $whiteColor;
}

a:hover {
  text-decoration: none;
  color: $whiteColor;
}

#wrapper {
  overflow-x: hidden;
  height: 100%;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  background-color: $darkerBlack;
  z-index: 2;
  position: fixed;
  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    background-color: $darkerBlack;
  }
  .list-group {
    width: 15rem;
    .list-group-item {
      border: none;
      font-weight: bold;
      background-color: $darkerBlack;
    }
    .list-group-item-action {
      color: $whiteColor;
    }
  }
  .submenu {
    padding: 0.75rem 2rem;
  }
}

#page-content-wrapper {
  min-width: 100vw;
  background-color: $softBlack;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#sidebar-wrapper.toggled {
  margin-left: 0;
}

.nav {
  padding: 1.6rem 1.25rem;
  background-color: $softBlack;
}

.content-wrapper {
  padding: 1.6rem 1.25rem;
}

.input-text {
  width: 80%;
}

.page-link {
  background-color: $darkerBlack;
  border-color: $softBlack;
  color: $whiteColor;
  &:hover {
    background-color: $softerBlack;
    border-color: $softBlack;
    color: $whiteColor;
  }
}

.page-item.disabled .page-link {
  background-color: $darkBlack;
  border-color: $softBlack;
}

.page-item.active .page-link {
  background-color: $softerBlack;
  border-color: $softBlack;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    position: relative;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  .nav {
    padding: 1.6rem 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .content-wrapper {
    padding: 1.6rem 4rem;
  }

  .input-text {
    width: 20vw;
  }
}
