@import "~bootstrap/scss/bootstrap";

$softBlack: #1e1e1e;
$darkerBlack: #121212;
$softerBlack: #2e2e2e;
$whiteColor: #fff;

* {
  color: $whiteColor;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  background-color: $darkerBlack;
  z-index: 2;
  .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
    background-color: $darkerBlack;
  }
  .list-group {
    width: 15rem;
    .list-group-item {
      border: none;
      font-weight: bold;
      background-color: $darkerBlack;
    }
    .list-group-item-action {
      color: $whiteColor;
    }
  }
  .submenu {
    padding: 0.75rem 2rem;
  }
}

#page-content-wrapper {
  min-width: 100vw;
  background-color: $softBlack;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.nav {
  padding: 1.6rem 1.25rem;
  background-color: $softBlack;
}

.content-wrapper {
  padding: 1.6rem 1.25rem;
}

.input-text {
  width: 80%;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  .nav {
    padding: 1.6rem 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .content-wrapper {
    padding: 1.6rem 4rem;
  }

  .input-text {
    width: 25%;
  }
}
